@import "./uikit-3.1.5/css/uikit-rtl.min.css";

.container {
  z-index: 1;
  background: white;
  height: 100vh;
}

.delete:hover {
  cursor: pointer;
  color: red;
}

.home:hover {
  cursor: pointer;
  color: green;
}

.active-toggle:hover {
  cursor: pointer;
}

.save-toggle:hover {
  cursor: pointer;
}
